*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.tools-content {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools {
width: 70%;
height: 80%;
border-radius: 10px;
display: flex;
align-items: center;
background-color: #ffeaa7;
justify-content: space-evenly;
}
.tool {cursor: pointer;}
.tool i {
  width: fit-content;
}
.canvas-content{
  overflow: hidden;
}