*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.tools-content {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools {
width: 70%;
height: 100%;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-evenly;
font-size: 1.5rem;
}
.tool {
  position: relative;
}

.icon-container:hover > i{
  transform: scale(1.4);
}

#redo {
  transform: rotateY(180deg);
}

.disabled {
  opacity: 0.3;
}

.icon-container{
  border-radius: 50%;
}

.icon-active{
  box-shadow: 0px 0px 15px rgb(0 0 0 / 24%);
}

.icon-container i {
  width: fit-content;
  transition: transform 0.5s;
  padding: 16px;
  cursor: pointer;
}


.canvas-content{
  overflow: hidden;
}

.tool-options{
  min-height: 100px;
  min-width: 120px;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pencil-size, .eraser-size{
  text-align: center;
}
.pencil-size input, .eraser-size input {
  width: 90%;
}
.pencil-colors{
  display: flex;
  justify-content: space-evenly;
}

.red,.yellow,.blue,.black {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.red:hover, .yellow:hover,.blue:hover, .black:hover{
  box-shadow: 0px 0px 10px rgb(0 0 0 / 24%);
}

.red{
  background-color: #e84118;
}
.yellow{
  background-color: #fbc531;
}
.blue{
  background-color: #0097e6;
}
.black{
  background-color: #2f3640;
}

.hide {
  display: none;
}

.sticky {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  width: 300px;
}

.sticky-header {
  height: 15%;
  background: #ffeaa7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sticky-header i {
  width: 7%;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.sticky-content {
  height: 85%;
}

textarea{
  width: 100%;
  min-width: 150px;
  min-height: 100px;
  border: 1px solid lightgray;
  outline: none;
  padding: 10px;
  height: 100%;
  background-color: #fdcb6e;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-upload {
  height: 100%;
  width: 100%;
}